/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
h1 {
  color: white;
  font-family: "SF-Pro-Regular";
  text-align: center;
}

p {
  color: white;
  font-family: "SF-Pro-medium";
  padding-left: 20px;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  padding-bottom: 5px;
}

img:hover {
  position: relative;
  transition: 0.3s ease;
}

/* TABLET STYLES */
/* applies to screens wider than 499px */
@media screen and (min-width: 500px) {
  p {
    font-size: 25px;
  }
  
  img {
    display: inline-flex;
    padding-top: 15%;
    padding-bottom: 15%;
  }
}

/* DESKTOP STYLES */
/* applies to screens wider than 999px */
@media screen and (min-width: 1000px) {
  p {
    font-size: 28px;
  }

  img {
    display: inline-flex;
    padding-right: 30px;
  }
}
