
h1 {
  color: white;
  font-family: "SF-Pro-Regular";
  text-align: center;
}

h2{
  color: white;
  font-family: "SF-Pro-medium";
  text-align: center;

}

h3{
  color: white;
  font-family: "SF-Pro-light";
  text-align: center;

}

ul {
  color: white;
  font-family: "SF-Pro-light";
  padding-left: 20px;
}

img {
  height: 100px;
  width: 100px;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;

}

img:hover {

}
