/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

.name{
  user-select: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "SF-Pro-Medium";
  text-align: center;
  color: white;
  z-index: 0;
  font-size: 50px;
  width: 100%;
  text-shadow: 1.5px 1.5px 1.5px black;

}

.click-enter{
  user-select: none;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "SF-Pro-Regular";
  text-align: center;
  color: white;
  z-index: 0;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  text-shadow: 1px 1px 1px black;
}
.click-enter:hover{
  text-decoration:underline;
  text-shadow: none;

}

/* TABLET STYLES */
/* applies to screens wider than 499px */
 @media screen and (min-width: 500px) {
   .name{
     font-size: 70px;
   }
   .click-enter{
     font-size: 18px;
   }

 }



/* DESKTOP STYLES */
/* applies to screens wider than 999px */
@media screen and (min-width: 1000px) {
  .name{
    font-size: 100px;
  }
  .click-enter{
    font-size: 20px;
  }

}
