/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
h1 {
  color: white;
  font-family: "SF-Pro-Regular";
  text-align: center;
}

h2{
  color: white;
  font-family: "SF-Pro-medium";
  text-align: center;
  text-decoration: overline underline;
  color: #00FFFF;
}

h3{
  color: white;
  font-family: "SF-Pro-light";
  text-align: center;
}

ul {
  color: white;
  font-family: "SF-Pro-light";
  padding-left: 30px;
}

.dmu {
  background-image: url("../images/dmu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bc1 {
  background-image: url("../images/bc1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bc2 {
  background-image: url("../images/bc2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TABLET STYLES */
/* applies to screens wider than 499px */
 @media screen and (min-width: 500px) {

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

ul {
  font-size: 24px;
  padding-left: 50px;
}

.dmu {
  background-image: url("../images/dmuSwap.jpg");
}

.bc1 {
  background-image: url("../images/bc1Swap.jpg");
}

.bc2 {
  background-image: url("../images/bc2Swap.jpg");
}

}



/* DESKTOP STYLES */
/* applies to screens wider than 999px */
@media screen and (min-width: 1000px) {



}
