
/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/* GENERAL BUTTON STYLING */
button,
button::after {
	transition: all 0.5s;
}

.container a {
  text-decoration: none;
  text-align: center;
  align-items: center;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  width: 250px;
  height: 70px;
  position: relative;
  text-transform: uppercase;
  font-family: "SF-Pro-Regular";

}

button::before,
button::after {
  background: white;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #ccad00;
  border-color: #ccad00;
}




/* TABLET STYLES */
/* applies to screens wider than 499px */
@media screen and (min-width: 500px) {

.btn-2{
  display: block;
	margin-left: auto;
	margin-right: auto;
}

}

/* DESKTOP STYLES */
/* applies to screens wider than 999px */
@media screen and (min-width: 1000px) {

.btn-2{
	margin-left: auto;
	margin-right: auto;
	display:block;
}

}
